body {
    font-family: Arial, sans-serif;
    background-image: url("images/j.jpg"); 
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;    
    height: 100vh;                  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.container {
    background: rgba(255, 255, 255, 0.15);  
    border-radius: 20px;                   
    padding: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);  
    border: 1px solid rgba(255, 255, 255, 0.2); 
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.container:hover{
    transform:scale(1.03);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-weight:600px;
    letter-spacing:1px;
}


p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}


label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    color: #444;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6a11cb;
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #2575fc;
}


button:active {
    transform: scale(0.98);
    box-shadow:inset 0px 0px;


}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }
}
